{% extends 'base.html.twig' %}

{% block content %}
    <div id="header"></div>
    <div class="p-4 p-md-5 pt-5">
        <h2 class="mb-4 homeH2">Collectif d'autonomie et de résilience à La Montagne (44)</h2>
        <p>
            La Fougère est un regroupement d’habitants qui mènent des actions pour développer l’autonomie et la
            résilience à l’échelle locale.
        </p>
        <p>
            Avec La Fougère, les habitants s’engagent dans un processus de changement et d'adaptation pour évoluer
            vers <b>un modèle de société coopérative et durable</b> dans le respect de leur lieu de vie.
        </p>
        <p>
            Chaque mois, les membres donnent <b>3 heures de leur temps et une participation financière</b> pour faire
            avancer le collectif. Les actions réalisées apportent aussi des recettes que le collectif pourra utiliser
            pour mener des projets de plus en plus ambitieux : acquisition d’outils, de matériel, de locaux, de terres,
            etc.
        </p>

        <p>
            Ainsi, grâce à La Fougère, des actions qui prennent trop de temps à l’échelle d’un foyer deviennent
            envisageables. Des outils trop coûteux pour une famille peuvent être achetés par le collectif pour être
            mutualisés. Les membres peuvent fabriquer localement des produits simples qu’ils n’auront plus jamais besoin
            d’acheter en grande surface. La transmission des savoirs et compétences peut être décuplée.
        </p>

        <div class="intro">

            <p class="before-list">Chaque action menée par les membres de La Fougère favorise :</p>
            <ul>
                <li>La démocratie participative dans toutes les prises de décision</li>
                <li>Le partage, la transmission, l’apprentissage, la culture de l’entraide</li>
                <li>La réparation, le recyclage, la réutilisation des objets</li>
                <li>L’utilisation de matières premières à l’échelle locale</li>
                <li>La diminution d’intrants dépendants des énergies fossiles</li>
                <li>L’utilisation de produits biologiques</li>
                <li>L’utilisation de produits d’origine végétale plutôt qu’animale</li>
                <li>Les objets durables, réparables, low-tech</li>
                <li>L’expérimentation</li>
            </ul>
        </div>

        <h3>Actualités</h3>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <span class="date">Le 23 août 2020</span>
                <h4>Participez à la prochaine rencontre</h4>
                <p>Une nouvelle réunion d'information aura lieu en septembre.</p>
                <p>Au programme : présentation de La Fougère, tour de table des participants pour mieux connaître les envies de chacun, propositions pour la suite du collectif, etc.</p>
                <p>Il reste des places, <a href="{{ path('app_page_page', {slug : 'contact'}) }}">contactez-nous</a> si vous souhaitez y participer !</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <span class="date">Le 2 août 2020</span>
                <h4>Deux premières rencontres</h4>
                <p>Deux rencontres ont déjà été organisées autour du projet de La Fougère (les 2 et 30 juillet 2020) réunissant un total de 17 participants. Nous avons parlé de groupement d'achat, de prêt d'outils, de permaculture, de grainothèque, de cueillette sauvage ou encore du manque d'un tiers lieu sur La Montagne.</p>
                <p>Pour en savoir plus sur ces réunions, vous pouvez télécharger les comptes-rendus : <br/>
                    - <a href="{{ asset('/files/La Fougère - Compte-rendu rencontre 02-07-20.pdf') }}" target="_blank">compte-rendu de la première rencontre</a> <br/>
                    - <a href="{{ asset('/files/La Fougère - Compte-rendu rencontre 30-07-20.pdf') }}" target="_blank">compte-rendu de la deuxième rencontre</a>
                </p>
            </div>
        </div>

        <h3>Intéressé·e ?</h3>
        <p>
            Vous souhaitez améliorer votre impact sur l'environnement, partager vos savoirs et savoir-faire,
            gagner en autonomie, avoir une vie plus saine, créer un réseau et surtout être vraiment acteur
            dans ce processus ? Alors <a href="{{ path('app_page_page', {slug : 'contact'}) }}">contactez-nous</a>.
        </p>
    </div>
{% endblock %}