{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block content %}
    <div class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Location</h2>

        <div class="intro">
            L'un des objectifs principaux de La Fougère est la mutualisation de matériel pour permettre à chacun
            de pouvoir utiliser une panoplie d'outils impossibles à acheter seul. La plateforme web de La Fougère
            propose la location :<br/>
            - <b>des outils du collectif</b>, pour un tarif à la journée très accessible. Les bénéfices de ces locations
            reviennent à La Fougère pour l'acquisition de nouveaux outils.<br/>
            - <b>des outils des membres</b> qui souhaitent proposer leur matériel. Ces locations doivent respecter une
            grille tarifaire pour ne pas afficher des tarifs prohibitifs. La Fougère ne touche aucune commission sur ces
            locations, il s'agît uniquement de favoriser la mise en relation.<br/>
            Les membres impliqués dans la location du matériel veillent à s'assurer de leur bonne utilisation et du
            respect des délais de retour attendus. Un système de caution peut être mis en place pour les outils les
            plus coûteux.
        </div>

        <h3>Le matériel de La Fougère</h3>
        <p class="before-list">Voici une liste non exhaustive du matériel qui pourra être acheté par le collectif et mis
            à la disposition de ses membres :</p>
        <ul>
            <li>Bricolage : outils manuels, viseuse, perceuse, meuleuse, serre-joints, etc.</li>
            <li>Machines à bois : scie circulaire, scie sous table, scie sauteuse, lamelleuse, raboteuse, dégauchisseuse, ponceuse excentrique, ponceuse à bande, etc.</li>
            <li>Outils manuels à bois : rabot, ciseaux à bois, etc.</li>
            <li>Jardinage : broyeur de végétaux, tondeuse, débroussailleuse, etc.</li>
            <li>Équipement pour l'électronique de base : fer à souder, générateur, oscilloscope, etc.</li>
            <li>Poste à souder</li>
            <li>Karcher</li>
            <li>Four à céramique</li>
            <li>Imprimante 3D</li>
            <li>Machine à coudre</li>
            <li>Moulin à farine</li>
            <li>Matériel de réception : vaisselle, chaises, tables, etc.</li>
            <li>Jarres de fermentation</li>
            <li>Équipements d’activité sportive (ski, canoë, bâtons de marche, etc.)</li>
        </ul>
    </div>
{% endblock %}